@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #090909;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Add your custom styles below this line */
.layout {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: rgb(255, 243, 243);
  background-color: #090909;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 20px;
  font-weight: 400;
}
.header .header-logo-wrapper {
  width: 75px;
  height: 75px;
  align-self: center;
}
.header .header-logo-wrapper img {
  height: 100%;
  width: 100%;
}
.header a {
  align-self: center;
}
.header .header-title {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.header .header-title h1 {
  font-size: 2.5em;
  padding: 0 20px 0 10px;
  border-right: solid 2px rgb(255, 243, 243);
}
.header .header-title h2 {
  font-size: 2.5em;
  font-weight: 500;
  padding: 0 0 0 20px;
}

.demoreel {
  display: grid;
  margin: 0 20px 20px 20px;
}
.demoreel h1 {
  font-size: 2.25em;
  font-weight: 400;
  margin: 20px 0 20px 0;
}
.demoreel .demoreel-video-wrapper {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  max-width: 1100px;
  justify-self: center;
  animation: fade-in 2s;
}

.nav-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.25em;
  font-weight: 400;
  margin: 80px 0 0 0;
}
.nav-button-wrapper .nav-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-button-wrapper .nav-button:hover {
  text-decoration: underline;
}

.homepage {
  display: grid;
  justify-items: center;
  margin: 0 20px 0 20px;
}
.homepage .homepage-reel-wrapper {
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 2px;
}
.homepage .homepage-reel-wrapper .homepage-reel-text {
  border-bottom: solid white 1.5px;
  line-height: 1.5em;
  position: absolute;
  z-index: 1;
  font-size: 2.25em;
  text-shadow: 0.5px 0.5px 0.5px black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: fade-in 2s;
}
.homepage .homepage-reel-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .homepage-project-nav-wrapper {
  display: grid;
  gap: 20px;
  margin: 20px 0 20px 0;
  font-size: 0.9em;
  cursor: pointer;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option {
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 2px;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option .homepage-project-nav-text {
  position: absolute;
  z-index: 1;
  font-size: 1.5em;
  text-shadow: 0.5px 0.5px 0.5px black;
  animation: fade-in 4.5s;
  transition: transform 0.3s ease;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option .homepage-project-nav-text h4 {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option #narrative {
  bottom: 25%;
  left: 15%;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option #music-video {
  bottom: 25%;
  right: 15%;
}
.homepage .homepage-project-nav-wrapper .homepage-project-nav-option:hover .homepage-project-nav-text {
  transform: translateY(-10px);
}

.info {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info .info-image-wrapper {
  max-width: 1000px;
  display: flex;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
}
.info .info-image-wrapper .info-photo-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
}
.info .info-image-wrapper .info-photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.info .info-image-wrapper .info-video-wrapper {
  width: 100%;
}
.info .info-image-wrapper .info-video-wrapper img {
  width: 100%;
  height: 100%;
}
.info .info-image-wrapper .info-video-wrapper .play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.info .info-image-wrapper .info-video-wrapper .play-button-overlay:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;
}
.info .info-text-wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 0 0 20px 0;
  display: inline;
}
.info .info-text-wrapper h4 {
  font-size: 2em;
  font-weight: 400;
}
.info .info-text-wrapper p {
  font-size: 1em;
}
.info .info-text-wrapper .info-name-wrapper {
  display: flex;
  justify-content: space-between;
}
.info .info-text-wrapper .info-type {
  font-style: italic;
  margin: 5px 0 5px 0;
}
.info .info-exit {
  font-size: 2.25em;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 10px 0;
}
.info .info-exit .icon {
  cursor: pointer;
}
.info .info-exit .icon:hover {
  transform: scale(1.1);
}

.project {
  margin: 20px;
  border-top: solid 1px rgba(238, 238, 238, 0.5);
}
.project .project-type-section {
  font-size: 2.25em;
  font-weight: 400;
  margin: 20px 0 20px 0;
}
.project .project-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.project .project-layout .project-image-wrapper {
  display: grid;
  position: relative;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  cursor: pointer;
}
.project .project-layout .project-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.1s ease;
}
.project .project-layout .project-image-wrapper .project-image-title {
  position: absolute;
  display: grid;
  align-content: center;
  top: 40%;
  width: 80%;
  z-index: 1;
  font-size: 1.35em;
  text-align: center;
}
.project .project-layout .project-image-wrapper .project-image-title h4 {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
}
.project .project-layout .project-image-wrapper:hover img {
  opacity: 0.75;
}
.project .project-layout .project-image-wrapper:nth-child(1) {
  animation-delay: 0.1s;
}
.project .project-layout .project-image-wrapper:nth-child(2) {
  animation-delay: 0.2s;
}
.project .project-layout .project-image-wrapper:nth-child(3) {
  animation-delay: 0.3s;
}
.project .project-layout .project-image-wrapper:nth-child(4) {
  animation-delay: 0.4s;
}
.project .project-layout .project-image-wrapper:nth-child(5) {
  animation-delay: 0.5s;
}
.project .project-layout .project-image-wrapper:nth-child(6) {
  animation-delay: 0.6s;
}
.project .project-layout .project-image-wrapper:nth-child(7) {
  animation-delay: 0.7s;
}

.footer {
  text-align: center;
  border-top: solid 1px rgba(238, 238, 238, 0.5);
  padding: 30px 0 0 0;
  margin: 0 20px 0 20px;
}
.footer .footer-text h1 {
  font-size: 1.5em;
}
.footer .footer-text p {
  font-size: 1.15em;
}
.footer .footer-icon {
  font-size: 2.5em;
  margin: 0 0 0 0;
}
.footer .footer-icon a {
  margin: 10px;
}
.footer .footer-copyright {
  margin: 10px 0 10px 0;
  font-size: 0.75em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@media only screen and (min-width: 800px) {
  .homepage-project-nav-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .homepage-project-nav-wrapper .homepage-project-nav-option {
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .header .header-wrapper {
    font-size: 0.45em;
    display: grid;
  }
  .header .header-wrapper h1, .header .header-wrapper h2 {
    padding: 0;
    border: none;
    margin: 0 0 0 10px;
  }
  .nav-button-wrapper {
    font-size: 1.15em;
  }
  .homepage .homepage-project-nav-wrapper .homepage-project-nav-option #narrative {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 45%;
  }
  .homepage .homepage-project-nav-wrapper .homepage-project-nav-option #music-video {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 45%;
  }
}/*# sourceMappingURL=globals.css.map */