@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Add your custom styles below this line */
.layout{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: rgb(255, 243, 243);
    background-color: #121212;
    margin: 20px;
}

.header{
    // border: solid red 1px;
    display: flex;
    .logo-wrapper{
        // border: pink solid 1px;
        width: 75px;
        height: 75px;
        align-self: center;
        img{
            // border: solid yellow 1px;
            height: 100%;
            width: 100%;
        }
    }
    .header-wrapper{
        // border: yellow 1px solid;
        display: flex;
        align-self: center;
        height: fit-content;
        h1{
            font-size: 2.5em;
            padding: 0 20px 0 10px;
            border-right: solid 2px rgb(255, 243, 243);
        }
        h2{
            font-size: 2.5em;
            padding: 0 0 0 20px;
        }
    }
}

.reel{
    // border: solid blue 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    .project-wrapper{
        display: grid;
        justify-items: center;
        position: relative;
        .image-wrapper{
            img{    
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .image-title{
                position: absolute;
                display: grid;
                align-content: center;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                height: 100%;
                z-index: 1;
                font-size: 1.35em;
                h4{
                  color: white;
                  text-shadow: .5px .5px .5px black;
                }
            }
        }
        .image-wrapper:hover{
            .image-title{
              z-index: 1;
            }
            img{
              opacity: .65;
            }
        }
    }
}

.footer{
    margin: 60px 0 40px 0;
    text-align: center;
    .footer-text{
        font-size: 1.5em;
    }
    .footer-icon{
        font-size: 2.5em;
        margin: 0 0 20px 0;
        a{
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .header{
        .header-wrapper{
            font-size: .45em;
            display: grid;
            h1,h2{
                padding: 0;
                border: none;
                margin: 0 0 0 10px;
            }
        }
    }
}