@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// CSS Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body{
    background-color: #090909;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Add your custom styles below this line */
.layout{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: rgb(255, 243, 243);
    background-color: #090909;
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    display: flex;
    margin: 20px;
    font-weight: 400;

    .header-logo-wrapper{
        width: 75px;
        height: 75px;
        align-self: center;
        img{
            height: 100%;
            width: 100%;
        }
    }
    a{
        align-self: center;

    }
    .header-title{
        display: flex;
        height: fit-content;
        h1{
            font-size: 2.5em;
            padding: 0 20px 0 10px;
            border-right: solid 2px rgb(255, 243, 243);
        }
        h2{
            font-size: 2.5em;
            font-weight: 500;
            padding: 0 0 0 20px;
        }
    }
}

.demoreel{
    display: grid;
    margin: 0 20px 20px 20px;
    h1{
        font-size: 2.25em;
        font-weight: 400;
        margin: 20px 0 20px 0;
    }
    .demoreel-video-wrapper{
        aspect-ratio: 16/9;
        width: 100%;
        box-shadow: rgba(255, 255, 255, 0.2)0px 0px 2px;
        max-width: 1100px;     
        justify-self: center;
        animation: fade-in 2s;

    }
}

.nav-button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.25em;
    font-weight: 400;
    margin: 80px 0 0 0 ;
    .nav-button{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .nav-button:hover{
        text-decoration: underline;
    }
}

.homepage{
    display: grid;
    justify-items: center;
    margin: 0 20px 0 20px;
    .homepage-reel-wrapper{
        position: relative;
        box-shadow: rgba(255, 255, 255, 0.25)0px 0px 2px;
        .homepage-reel-text{
            border-bottom: solid white 1.5px;
            line-height: 1.5em;
            position: absolute;
            z-index: 1;
            font-size: 2.25em;
            text-shadow: .5px .5px .5px black;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            animation: fade-in 2s;
        }
        img{
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    }
    .homepage-project-nav-wrapper{
        display: grid;
        gap: 20px;
        margin: 20px 0 20px 0;
        font-size: .9em;
        cursor: pointer;
        .homepage-project-nav-option{
            position: relative;
            box-shadow: rgba(255, 255, 255, 0.25)0px 0px 2px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .homepage-project-nav-text{
                position: absolute;
                z-index: 1;
                font-size: 1.5em;
                text-shadow: .5px .5px .5px black;
                animation: fade-in 4.5s;
                transition: transform 0.3s ease;
                h4{
                    color: white;
                    text-shadow: .5px .5px .5px black;
                }
            }
            #narrative{
                // border: solid blue 1px;
                bottom: 25%;
                left: 15%;
            }
            #music-video{
                // border: solid green 1px;
                bottom: 25%;
                right: 15%;
            }
        }
        .homepage-project-nav-option:hover{
            .homepage-project-nav-text{
                transform: translateY(-10px);
            }
        }
    }
}

.info{
    margin: 20px;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .info-image-wrapper{
        display: flex;
        box-shadow: rgba(255, 255, 255, 0.2)0px 0px 2px;
        width: 100%;
        max-width: 1000px;
        .info-photo-wrapper{
            height: fit-content;
            width: 100%;
            height: 100%;
            display: flex;
            align-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .info-video-wrapper {
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
            .play-button-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60px;
                height: 60px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-left: 20px solid white;
                }
            }
        }
    }
    .info-text-wrapper{
        width: 100%;
        max-width: 1000px;
        padding: 0 0 20px 0;
        display: inline;
        h4{
            font-size: 2em;
            font-weight: 400;
        }
        p{
            font-size: 1em;
        }
        .info-name-wrapper{
            display: flex;
            justify-content: space-between;
        }
        .info-type{
            font-style: italic;
            margin: 5px 0 5px 0;
        }
    }
    .info-exit{
        font-size: 2.25em;
        display: flex;
        justify-content: flex-end;
        margin: 10px 0 10px 0;
        .icon{
            cursor: pointer;
        }
        .icon:hover{
            transform: scale(1.1);
        }
    }
}



.project{
    margin: 20px;
    border-top: solid 1px rgba(238, 238, 238, 0.5);
    .project-type-section{
        font-size: 2.25em;
        font-weight: 400;
        margin: 20px 0 20px 0;
    }
    .project-layout{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
        .project-image-wrapper{
            display: grid;
            position: relative;
            justify-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 200px;
            box-shadow: rgba(255, 255, 255, 0.2)0px 0px 2px;
            animation: fade-in 1s;
            animation-fill-mode: forwards;
            opacity: 0;
            cursor: pointer;
                img{    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: opacity 0.1s ease;

                }
                .project-image-title{
                    position: absolute;
                    display: grid;
                    align-content: center;
                    top:40%;
                    width: 80%;
                    z-index: 1;
                    font-size: 1.35em;
                    text-align: center;
                    h4{
                    color: white;
                    text-shadow: .5px .5px .5px black;
                    }
                }
        }
        .project-image-wrapper:hover img{
            opacity: .75;
        }

        // Animation Delay, for each project in the wrapper, delay the animation by 0.1s
        @for $i from 1 through 7 {
            .project-image-wrapper:nth-child(#{$i}) { 
                animation-delay: #{$i * 0.1}s;
            }
        }
    }
}

.footer{
    text-align: center;
    border-top: solid 1px rgba(238, 238, 238, 0.5);
    padding: 30px 0 0 0;
    margin: 0 20px 0 20px;
    .footer-text{
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 1.15em;
        }
    }
    .footer-icon{
        font-size: 2.5em;
        margin: 0 0 0 0;
        a{
            margin: 10px;
        }
    }
    .footer-copyright{
        margin: 10px 0 10px 0;
        font-size: .75em;
    }
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }


@media only screen and (min-width: 800px) {
    .homepage-project-nav-wrapper{
        grid-template-columns: 1fr 1fr;
        .homepage-project-nav-option{
            height: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .header{
        .header-title{
            font-size: .45em;
            display: grid;
            h1,h2{
                padding: 0;
                border: none;
                margin: 0 0 0 10px;
            }
        }
    }

    .nav-button-wrapper{
        font-size: 1.15em;
    }

    .homepage{
        .homepage-project-nav-wrapper{
            .homepage-project-nav-option{
                #narrative{
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 45%;
                }
                #music-video{
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 45%;
                }
            }
        }
    }
}